@import "tailwindcss";

:root {
  --color-seika-dark: #1c2d28;
  --color-seika-green: #00a77d;
  --color-seika-light: #ecefe5;
}

@theme inline {
  --color-background: var(--color-seika-dark);
  --color-foreground: #ffffff;
  --font-sans: var(--font-aptos), sans-serif;
}

body {
  background: var(--color-seika-dark);
  color: #ffffff;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
